.main {
  padding: 0 1.5rem;
}

.tabBar {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-evenly;
}

.tabTitle {
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
}

.tabTitleActive {
  background-color: #282828;
  border-radius: 0.25rem 0.25rem 0 0;
}

.projectsList {
  border-top: 2px solid #282828;
  display: flex !important;
  padding-top: 1rem;
}

.timelineElementContainer {
  background-color: blue;
}

.timelineDate {
  font-size: 2rem !important;
  top: -1rem !important;
  font-weight: bold !important;
}

.projectInfoContainer {
  width: 100%;
  border-top: 2px solid #fff;
  padding: 1rem 0;
}

.projectInfoContainer:nth-child(2) {
  border-top: none;
  padding-top: unset;
}

.projectTitle {
  font-family: VT323;
  font-size: 1.75rem;
  max-width: 100%;
}

.techUsedInfo {
  display: flex;
  align-items: center;
  margin: 0.5rem auto;
}

.logo,
.githubLogo {
  height: 1.75rem;
  width: 1.75rem;
  object-fit: contain;
  margin-right: 0.5rem;
  filter: grayscale(1);
  cursor: pointer;
}

.githubLogo {
  height: 1rem;
  width: 1rem;
}

.additionalInfoText {
  color: #ccc;
}

.additionalInfoText b {
  color: #fff;
}

.sourceUrl {
  font-size: 0.85rem;
  color: #ccc;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 8rem;
  background-color: #45403d;
  color: #ddd;
  text-align: center;
  padding: 0.25rem;
  border-radius: 6px;

  /* tooltip position */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .websiteInfoContainer {
    width: 70%;
    margin: 0 auto;
  }

  .tabTitle {
    font-size: 1.5rem;
  }

  .tabTitleActive {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .projectsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projectInfoContainer {
    width: 80%;
  }
}
