.main {
  padding: 0 2rem;
}

.projectsList {
  border-top: 1px solid gray;
  display: grid;
  margin-top: 2.5rem;
  grid-template-columns: 1fr;
}

.projectInfoContainer {
  width: 100%;
  margin: 1rem auto;
}

.projectTitle {
  font-family: VT323;
  font-size: 1.75rem;
}

.techUsedInfo {
  display: flex;
  align-items: center;
  margin: 0.5rem auto;
}

.logo,
.githubLogo {
  height: 1.75rem;
  width: 1.75rem;
  object-fit: contain;
  margin-right: 0.5rem;
  filter: grayscale(1);
}

.githubLogo {
  height: 1rem;
  width: 1rem;
}

.additionalInfoText {
  color: #ccc;
}

.additionalInfoText b {
  color: #fff;
}

.sourceUrl {
  font-size: 0.85rem;
  color: #ccc;
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 1400px;
    margin: 0 auto;
  }

  .websiteInfoContainer {
    width: 70%;
    margin: 0 auto;
  }

  .projectsList {
    grid-template-columns: 1fr 1fr;
  }

  .projectInfoContainer {
    width: 80%;
  }
}
