.navbar ul {
  display: flex;
}

.navbar ul a {
  margin: 0.5rem 1rem;
}

.navbarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.25rem;
  background-color: white;
}
