.container {
  padding: 0 2rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.greetingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.greeting {
  margin: 0 auto;
  font-family: Pacifico;
  font-size: 3rem;
}

.greetingSub {
  margin: 0 auto;
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc((100vh - 5rem) / 2);
  width: 100%;
}

.avatarBackground {
  width: 95%;
  opacity: 0.8;
}

.avatar {
  position: absolute;
  height: 8rem;
  width: 8rem;
  object-fit: contain;
  z-index: 100;
}

@media only screen and (min-width: 500px) {
  .avatarBackground {
    width: 80%;
  }

  .greeting {
    font-size: 3.5rem;
  }

  .greetingSub {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 650px) {
  .avatarBackground {
    width: 75%;
  }
}

@media only screen and (min-width: 950px) {
  .avatar {
    width: 10rem;
    height: 10rem;
  }
}

@media only screen and (min-width: 768px) {
  .infoContainer {
    min-height: calc(100vh - 5rem);
    max-width: 1400px;
    margin: 0 auto;
    flex-direction: row-reverse;
  }

  .greeting,
  .greetingSub {
    width: 80%;
  }

  .greeting {
    font-size: 4rem;
  }

  .greetingSub {
    font-size: 1.5rem;
    opacity: 0.75;
  }
}
