.container {
  padding: 0 2rem;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.infoContainer {
  color: #ccc;
  margin: 0 auto;
  width: 100%;
}

.infoContentContainer div {
  margin: 1rem 0;
}

.headingText {
  margin-top: 1rem;
  font-family: Pacifico;
  font-size: 2rem;
  border-bottom: 0.5px solid gray;
}

.contentListEntry {
  display: flex;
  align-items: center;
}

.icon {
  display: inline;
  height: 1.5rem;
  object-fit: contain;
  margin-right: 1rem;
}

.avatarContainer {
  display: none;
}

.arrows {
  display: none;
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: white;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari and Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari and Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari and Chrome */
}

@media only screen and (min-width: 500px) {
  .avatarBackground {
    width: 80%;
  }
}

@media only screen and (max-width: 360px) {
  .avatar {
    width: 6rem;
    height: 6rem;
  }
}

@media only screen and (min-width: 650px) {
  .avatarBackground {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .parentContainer {
    min-height: calc(100vh - 5rem);
    max-width: 1400px;
    margin: 0 auto;
    flex-direction: row;
  }

  .detailsContainer {
    position: relative;
    height: 75vh;
    padding: 0.5rem 0;
  }

  .topCascadingBar,
  .bottomCascadingBar {
    height: 2.25rem;
    position: absolute;
    top: 0;
    background-color: #000000;
    width: 100%;
    filter: blur(15px);
    opacity: 0.9;
  }

  .arrows {
    display: unset;
  }

  .bottomCascadingBar {
    top: unset;
    bottom: 0;
  }

  .infoContainer {
    padding: 1rem;
    overflow-y: scroll;
  }

  .avatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc((100vh - 5rem) / 2);
    width: 100%;
    margin: 1rem 0;
  }

  .avatarBackground {
    opacity: 0.8;
  }

  .avatar {
    width: 7rem;
    height: 7rem;
    position: absolute;
    object-fit: contain;
    z-index: 100;
  }
}

@media only screen and (min-width: 950px) {
  .avatar {
    width: 10rem;
    height: 10rem;
  }
}
